<h1>Desafio jQuery</h1>

<h3>AlertDismissing:</h3>

<strong class='alertDismissing' id='text'> Holy guacamole! You should check in on some of those fields below. <button class='alertDismissing' id='hide'>X</button></strong>

<hr>

<h3>Collapse:</h3>

<button id='slide0'>Collapse</button>
<p id='target_par_zero'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>

<hr>

<h3>Collapse Accordion:</h3>

<button id='slide'>Slide</button>
<p id='target_par'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>

<br>

<button id='slide2'>Slide2</button>
<p id='target_par_two'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>

<br>

<button id='slide3'>Slide3</button>
<p id='target_par_three'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>